<!DOCTYPE html>
<html>
  <head>
    <title>Bài thơ sử dụng Bootstrap</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col">
           {{{body}}}
          <h1 class="font-weight-bold">Bài thơ:Buồn</h1>
        </div>
         
      </div>
      <div class="row">
        <div class="col">
          <!-- Nội dung của bài thơ sẽ được thêm vào sau -->
         
		<p>Buồn nằm chăn đắp co ro,</p>
		<p>Cuộc đời đen tối, bản cơ là buồn.</p>
		<p>Buồn đời đầy rẫy vô duyên,</p>
		<p>Gái đẹp đi hết, trai thì yêu nhau.</p>
		<p>Trăng tàn thế tận tới rồi,</p>
		<p>Bao đôi trai gái, ngồi chờ nắm tay.</p>
		<p>Ta thì chẳng có gấu đâu,</p>
		<p>Đằng nào cũng chết, chả ham làm gì.</p>
		<p>Học hành như khói như mây,</p>
		<p>Chăm học mà cứ lần đần là sao!?</p>
		<p>“Thánh nhân đãi kẻ khù khờ”,</p>
		<p>Tôi đây cũng chỉ gà mờ đó thôi?</p>
		<p>Thánh nhân nào hãy hiện ra,</p>
		<p>Cứu đời tôi với, bỏ bu nó rồi!</p>
		<p>Ôi buồn, trầm cảm, tự ti,</p>
		<p>Buồn nhiều buồn mãi ta đi giết mình.</p>
		<p>Nói đùa chẳng dám làm đâu,</p>
		<p>Đời còn đẹp lắm, chết ư? Chả thèm.</p>
		<p>Đắp mền vẫn thấy lạnh căm,</p>
		<p>Máy lạnh hư, ối! Buồn thêm nữa rồi!</p>
        </div>
      </div>
    </div>
  </body>
</html>
